<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>An Example Title</title>
  <link rel="stylesheet" href="app.css">

</head>

<body>

  <h1>Hello, <%= name %>!</h1>

  <p>This site was accessed at <%= name2 %>
  </p>
  <p>You are visitor #<%= name3 %>
  </p>
  <p>It has been <%= name4 %> seconds since your last visit</p>

</body>

</html>